<div class="col-4" ng-repeat="region in vm.regions">
    <a ng-click="vm.selectRegion(region.name)">{{region.name}}</a>
</div>

<ui-gmap-google-map center='vm.map.center' zoom='vm.map.zoom'>

    <ui-gmap-markers
            models="vm.sites"
            idKey="'name'"
            coords="'geo'"
            icon="'icon'"
            options="'options'"
            click="alert"
            labelContent="'name'"
            click="'onClicked'"
            doCluster="vm.doClusterRandomMarkers"
            clusterOptions="vm.clusterOptions">

        <ui-gmap-windows show="true" closeClick="'closeClick'" ng-cloak>
            <div>
                <p>{{name}}</p>
                <p ng-non-bindable>WG 84 lat:{{ geo.lat }}, lng:{{ geo.lng }}!</p>
            </div>
        </ui-gmap-windows>


    </ui-gmap-markers>

<!--    <ui-gmap-markers
            models='{expression}'
            idKey='{expression}'
            doRebuildAll="{string or object}"

            doCluster="{string or object}"
            clusterOptions='{expression}'
            fit="{string or object}"

            labelContent='{expression}'

            coords="'{string}'"
            icon="'{string}'"
            options="'{string}'"
            labelContent="'{string}'"
            labelAnchor="'{string}'"
            labelClass="'{string}'"
            click="'{string or expression to a function}'"

            events="{expression}"
            control='{expression}'
            >
    </ui-gmap-markers>-->
</ui-gmap-google-map>
